# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.vs/Eurkea/FileContentIndex/ef5ef47a-85e2-49fc-8fb8-d513c94e52a2.vsidx
/.vs/Eurkea/FileContentIndex/054f0747-97a6-4c86-8b30-f1dac01dd200.vsidx
/.vs
/.vs/slnx.sqlite
