.login .rectangle {
  background: #000000;
  position: absolute;
  top: 58px;
  right: 100px;
  width: 620px;
  height: 785px;
}

.login .content {
  position: absolute;
  top: 58px;
  right: 100px;
  width: 620px;
  height: 785px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

.login .welcome-to-the-next-level {
  backdrop-filter: blur(2px);
  font-family: 'David Libre', serif;
  font-weight: 400;
  font-size: 60px;
  margin-bottom: 20px;
  margin-left: -150px;
  margin-right: 20px;
}


.login .email, .login .password, .login .sign-in, .login .dont-have-an-account-register {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 25px;
}


.login .container-1, .login .container-2, .login .container-3 {
  box-shadow: 0px 0px 4px 2px rgba(80, 104, 161, 0.5);
  border-radius: 10px;
  background: #FFFFFF;
  padding: 21px 190px;
  width: 500px; /* Set a fixed width */
  box-sizing: border-box;
  margin-bottom: 20px;
}

.login .container-1 .email {
  color: #526AA3; 
  font-weight: bold; 
}

.login .container-2 .password {
  color: #526AA3;
  font-weight: bold;
}


.login .container- {
  margin-bottom: 10px;
}

.login .container-3 {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center;
  margin-bottom: 10px;
  background-color: #798EC1;
}


.login .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.login .rectangle-38 {
  width: 25px;
  height: 25px;
  background-color: #FFFFFF;
  border: 1px solid #2E4989;
  border-radius: 5px;
  margin-left: -240px;
}

.login .forgot-password {
  font-weight: bold;
  margin-right: -230px; /* Adjust as needed */
}

.login .keep-me-logged-in {
  margin-left: -150px; /* Adjust as needed */
}



.login {
  position: relative;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

