.login .rectangle-1 {
  background: #000000;
  position: absolute;
  top: 58px;
  right: 100px;
  width: 620px;
  height: 785px;
}
.login .rectangle-39 {
  background: #000000;
  position: absolute;
  top: 58px;
  right: 100px;
  width: 620px;
  height: 785px;
}
.login .welcome-to-the-next-level {
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.28);
  position: relative;
  margin: 0 178.6px 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'David Libre';
  font-weight: 400;
  font-size: 60px;
  color: #FFFFFF;
}
.login .email {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 25px;
  color: rgba(80, 104, 161, 0.8);
}
.login .container-2 {
  box-shadow: 0px 0px 4px 2px rgba(80, 104, 161, 0.5);
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin: 0 0 18px 13px;
  padding: 21px 38px;
  width: fit-content;
  box-sizing: border-box;
}
.login .password {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 25px;
  color: rgba(80, 104, 161, 0.8);
}
.login .container-1 {
  box-shadow: 0px 0px 4px 2px rgba(80, 104, 161, 0.5);
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin: 0 0 17px 13px;
  padding: 21px 38px;
  width: fit-content;
  box-sizing: border-box;
}
.login .rectangle-38 {
  border-radius: 5px;
  border: 1px solid #2E4989;
  background: #FFFFFF;
  margin-right: 10px;
  width: 25px;
  height: 25px;
}
.login .keep-me-logged-in-forgot-password {
  margin: 0.5px 0;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.keep-me-logged-in-forgot-password-sub14 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.333;
  color: #FFFFFF;
}
.keep-me-logged-in-forgot-password-sub13 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.333;
  color: #FFFFFF;
}
.keep-me-logged-in-forgot-password {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.333;
  color: #FFFFFF;
}
.login .container {
  position: relative;
  margin: 0 6.7px 48px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.login .sign-in {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 25px;
  color: #FFFFFF;
}
.login .container-3 {
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #798EC1;
  position: relative;
  margin: 0 0 23px 13px;
  display: flex;
  padding: 21px 0;
  width: 456px;
  box-sizing: border-box;
}
.login .dont-have-an-account-register {
  position: relative;
  margin-left: 22px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.dont-have-an-account-register-sub16 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.333;
  color: #FFFFFF;
}
.dont-have-an-account-register-sub15 {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.333;
  color: #FFFFFF;
}
.dont-have-an-account-register {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.333;
  color: #FFFFFF;
}
.login {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 179px 0 175px 0;
  width: 1440px;
  box-sizing: border-box;
}
