.signup-student {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .signup-student-container {
    display: flex;
    box-shadow: 0px 4px 20px #7a49882c;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    width: 70%;
    max-width: 1200px;
  }
  
  .signup-student-left {
    flex: 1;
    background-image: url(../assets/eurekalogo.JPG);
    background-size: cover;
  }
  
  
  .signup-student-right {
    flex: 0.7;
    padding: 40px;
  }
  
  .signup-student-header {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .input-student-container {
    position: relative;
    margin-bottom: 15px;
  }
  
  .sigupstudent-input {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }

  
  .signin-color{
    color: #7a4988;
      text-decoration: none;
  }
  .register-din {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #7a4988;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .register-din:hover {
    background-color: #7a49889f;
  }
  
  .already-student-have-an-account {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .already-student-have-an-account a {
    color: #007bff;
    text-decoration: none;
  }
  
  .already-student-have-an-account a:hover {
    text-decoration: underline;
  }
  